doctype

//..
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:http="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">

<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="css/myself.css" type="text/css" />

block vars
title IIOT|#{title}

<script type="text/javascript" src="js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</head>
body(id="top")
    block content
    block footer
        div(style="background-image: url('images/header.png');").container-fluid.navbar-bottom
            div.pull-right
                p(style="font-size: 16px;color:#2aabd2;").fl_right <br>Copyright &copy; 2003-2016 Xinbing Wang <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;architect:Zhenyu Song | Jinghao Zhao

</html>