if language == "English"
    div(style="background-image: url('images/header.png');clear:both;").container-fluid
        div.container-fluid
            div.row
                div.col-md-6.col-md-push-1
                    h1
                        <br>
                        img(src="images/logo.png",width="200")
                        span(style="color:white;")    IIoT Research Center
                div.col-md-4.col-md-push-1
                    div.col-md-2
                        | <br>
                        | <br>
                        | <br>
                        img(src="images/schoolLogo2.png",width="90px")
                    div.container-fluid.col-md-9.col-md-push-1
                        p(style="color:white;")
                            | <br>
                            | <br>
                            | <br>
                            span(style="font-size: 25px;") S
                            span(style="font-size: 16px;") hanghai&nbsp
                            span(style="font-size: 25px;") J
                            span(style="font-size: 16px;") iao&nbsp
                            span(style="font-size: 25px;") T
                            span(style="font-size: 16px;") ong&nbsp
                            span(style="font-size: 25px;") U
                            span(style="font-size: 16px;") niversity &nbsp;
                            br
                            span(style="font-size: 16px;") School of Electronic, Information & Electrical Engineering <br><br><br>
                            span(style="font-size: 16px;color:white;")
                                a(href = link)
                                    strong(style="font-size: 16px;color:gray;") English |
                                a(href= link_ch,style="font-size: 16px;color:gray;")
                                    strong(style="font-size : 16px;color:gray;")  简体中文
                        br.clear

        div.container
            div.row
                ul.nav.nav-pills.nav-justified
                    li.col-md-2
                        a(href="index.html").btn-primary
                            strong(style="font-size: 16px;color:white;") Home
                    li.col-md-2
                        a(href="members.html").btn-primary
                            strong(style="font-size: 16px;color:white;") Members
                    li.col-md-2
                        a(href="projects.html").btn-primary
                            strong(style="font-size: 16px;color:white;") Projects
                    li.col-md-2
                        a(href="publications.html").btn-primary
                            strong(style="font-size: 16px;color:white;") Publications
                    li.col-md-2
                        a(href="recruitment.html").btn-primary
                            strong(style="font-size: 16px;color:white;") Recruitment
                    li.col-md-2
                        a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/index.html#").btn-primary
                            strong(style="font-size: 16px;color:white;") Contact
        br.clear

else
    div(style="background-image: url('images/header.png');").container-fluid
        div.container-fluid
            div.row
                div.col-md-6.col-md-push-1
                    h1
                        <br>
                        img(src="images/logo.png",width="200")
                        span(style="font-size: 25px;color:white;")
                            strong &nbsp;上海交通大学智能物联网研究中心

                div.col-md-3.col-md-push-2
                    p(style="color:white;")
                        | <br>
                        | <br>
                        | <br>
                        //span(style="font-size: 25px;") 上海交通大学
                        img(src="images/schoolLogo.png",width="300px")
                        <br><br>
                        span(style="font-size: 16px;color:white;")
                            strong 电子信息与电气工程学院 <br><br>
                            a(href = link)
                                strong(style="font-size: 16px;color:gray;") English |
                            a(href= link_ch,style="font-size: 16px;color:gray;")
                                strong(style="font-size: 16px;color:gray;")  简体中文
                    br.clear

        div.container
            div.row
                ul.nav.nav-pills.nav-justified
                    li.col-md-2
                        a(href="index_ch.html").btn-primary
                            strong(style="font-size: 16px;color:white;") 首页
                    li.col-md-2
                        a(href="members_ch.html").btn-primary
                            strong(style="font-size: 16px;color:white;") 成员
                    li.col-md-2
                        a(href="projects_ch.html").btn-primary
                            strong(style="font-size: 16px;color:white;") 项目
                    li.col-md-2
                        a(href="publications_ch.html").btn-primary
                            strong(style="font-size: 16px;color:white;") 论文
                    li.col-md-2
                        a(href="recruitment_ch.html").btn-primary
                            strong(style="font-size: 16px;color:white;") 招生
                    li.col-md-2
                        a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/index.html#").btn-primary
                            strong(style="font-size: 16px;color:white;") 联系我们
                br.clear

