div.wrapper.col2
    div#header
        div#topbar
            div.top_picture
                img(src="images/logo.png",width="200")
            div.top_labname_ch
                span(style="font-family: Century") 上海交通大学智能物联网研究中心
        div.top_schoolname_ch
            p
                span(style="font-family: verdana, Arial, Helvetica, sans-serif")上海交通大学
                br
                span(style="font-size: 14px;") 电子信息与电气工程学院 <br><br>
                span(style="font-size: 16px;")
                    a(href="index.html") English|
                    a(href="index_ch.html") 简体中文
        br.clear