div.wrapper.col3
    div#topnav.topnav_ch
        ul
            li.first
                a(href="index_ch.html") 首页
            li
                a(href="members_ch.html") 成员
            li
                a(href="projects_ch.html") 项目
            li
                a(href="publications_ch.html") 论文
            li
                a(href="recruitment.html") 招生
            li.last
                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/index.html#") 联系我们
        br.clear