div.wrapper.col3
    div#topnav.topnav_ch
        ul
            li.first
                a(href="index.html") Home
            li
                a(href="index.html") Members
            li
                a(href="index.html") Projects
            li
                a(href="index.html") Publications
            li
                a(href="index.html") Recruitment
            li.last
                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/index.html#") Contact
        br.clear