extends _base

block vars
    -var title = "AlumniCafe"
    -var link = "#"
    -var link_ch = "#"
    -var language = "Chinese"


block content

    include _header

    div(style="text-align:center").container
        div
            h1(style="font-family:STKaiti;font-size:40px;") 校友咖啡
                span(style="font-family:Brush Script MT")  AlumniCafe
            hr(color="blue")
        div.row
            div.col-md-6.col-md-push-2
                h2(style="font-family:STKaiti") 品校友咖啡，享名校情怀
                h2(style="font-family:Brush Script MT")  Having fantasy on Prestigious universities in the world?Come and enjoy our Alumni Cafe!
            div.col-md-4.col-md-push-2
                img(src = 'http://iwct.sjtu.edu.cn/Personal/xwang8/img/alumni_logo.png',height="100px")

        div.container
            div.container
                img(src='http://iwct.sjtu.edu.cn/Personal/xwang8/img/alumni_cups.jpg',width="1000")
                hr
            div.container
                img.col-md-4(src='http://iwct.sjtu.edu.cn/Personal/xwang8/img/alumni_cup_1.jpg',width="30%")
                img.col-md-4(src='http://iwct.sjtu.edu.cn/Personal/xwang8/img/alumni_cup_2.jpg',width="30%")
                img.col-md-4(src='http://iwct.sjtu.edu.cn/Personal/xwang8/img/alumni_cup_3.jpg',width="30%")
                hr
            div.container
                img(src='http://iwct.sjtu.edu.cn/Personal/xwang8/img/alumni_famous.png')
                hr
            div.row
                ul(style="list-style-type :none;").col-md-6.col-md-push-3.container-fluid
                    li.row
                        h4
                            | Wechat shop:
                            a 校友咖啡Alumni Cafe
                    li.row
                        h4
                            | Wechat public platform:
                            a(href="http://mp.weixin.qq.com/s?__biz=MzIxNzE4NjEyOQ==&mid=403849940&idx=1&sn=c2c19ea4c64d540d9367271a3ab112e0#rd") alumnicafe
                    li.row
                        h4
                            |Manager Wechat ID:
                            a alumni_cafe
                    li.row
                        h4
                            |Location:
                            a East side on the 4th floor of No. 1 SEIEE Building


            div.container
                img(src = 'http://iwct.sjtu.edu.cn/Personal/xwang8/img/alumni_barcode.jpg',width="300")