//
   Created by MyPC on 2016/3/12.

extends _base

block vars
    -var title = "首页"
    -var link = "index.html"
    -var link_ch = "index_ch.html"
    -var language = "Chinese"

block content

    include _header

    div.container-fluid(style="background-image: url('images/pagebg.png');background-size:cover;clear:both;")
        div.container-fluid.col-center-block
            div.col-center-block(data-ride="carousel",style="height:350px;width:80%;text-align:center;")#projects-slide.carousel.slide.container-fluid
                //Indicators
                ol.carousel-indicators
                    li.active(data-target="#projects-slide",data-slide-to="0")
                    li(data-target="#projects-slide",data-slide-to="1")
                    li(data-target="#projects-slide",data-slide-to="2")
                    li(data-target="#projects-slide",data-slide-to="3")
                    li(data-target="#projects-slide",data-slide-to="4")
                    li(data-target="#projects-slide",data-slide-to="5")
                    li(data-target="#projects-slide",data-slide-to="6")
                    li(data-target="#projects-slide",data-slide-to="7")
                //Wrapper for slides
                div.row
                    div(role="listbox",style="margin-top:25px;margin-bottom:20px;").carousel-inner.col-center
                        div.item.active.row
                            div.col-md-4.col-md-push-4
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/research-system/taxi.html")
                                    img.img-rounded(src="images/car.png", height="300",alt="1")
                            div(style="background-color: rgba(0,0,0,.3)").carousel-caption
                                h4 SmartTaxiNet: Mobile Service of Driver-Passenger Matching and Taxicab Scheduling System

                        div.item.row
                            div.col-md-4.col-md-push-4
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/research-system/citydrive.html")
                                    img.img-rounded(src="images/dirve.png",height="",width="400",alt="1")
                            div(style="background-color: rgba(0,0,0,.3)").carousel-caption
                                h4 CityDrive: A Map-Generating and Speed-Optimizing Driving System

                        div.item.row
                            div.col-md-4.col-md-push-4
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/research-system/HiQuadLoc.html")
                                    img.img-rounded(src="images/flying.png",height="90%",width="460",alt="1")
                            div(style="background-color: rgba(0,0,0,.3)").carousel-caption
                                n4 HiQuadLoc: An RSS-Based Indoor Localization System for High-Speed Quadrotors

                        div.item.row
                            div.col-md-4.col-md-push-4
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/research-system/indaps.html")
                                    img.img-rounded(src="images/phones.jpg",height="90%",width="400",alt="1")
                            div(style="background-color: rgba(0,0,0,.3)").carousel-caption
                                n4 INDAPSON: An Incentive Data Plan Sharing System Based on Self-Organizing Network

                        div.item.row
                            div.col-md-4.col-md-push-4
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/research-system/localization.html")
                                    img.img-rounded(src="images/Localization.png",height="300",width="500",alt="1")
                            div(style="background-color: rgba(0,0,0,.3)").carousel-caption
                                h4 Indoor Localization with a Crowdsourcing based Fingerprints Collecting

                        div.item.row
                            div.col-md-4.col-md-push-4
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/research-system/SAPLOC.html")
                                    img.img-rounded(src="images/smartAP.jpg",height="300",width="400",alt="1")
                            div(style="background-color: rgba(0,0,0,.3)").carousel-caption
                                h4 SAPLOC: An Indoor Localization System Based on Smart Access Points

                        div.item.row
                            div.col-md-4.col-md-push-4
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/research-system/Sinaweibo.html")
                                    img.img-rounded(src="images/weibo.png",height="300",width="500",alt="1")
                            div(style="background-color: rgba(0,0,0,.3)").carousel-caption
                                h4 Data mining of Sina-Weibo

                        div.item.row
                            div.col-md-4.col-md-push-4
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/research-system/smartcar.html")
                                    img.img-rounded(src="images/02230170.jpg",height="300",width="400",alt="1")
                            div(style="background-color: rgba(0,0,0,.3)").carousel-caption
                                h4 Smart car and four-rotor aircraft experiment system


                    //Controls
                    a(href="#projects-slide" role="button" data-slide="prev").left.carousel-control
                        span(aria-hidden="false").glyphicon.glyphicon-chevron-left
                        span.sr-only Previous
                    a(href="#projects-slide" role="button" data-slide="next").right.carousel-control
                        span(aria-hidden="false").glyphicon.glyphicon-chevron-right
                        span.sr-only Next
        hr
        //..............................................................
        div.container-fluid
            div.row
                div.col-md-6.col-md-push-1
                    h2.page-header
                        strong 最新消息
                    h4
                        span(style="color:#2aabd2;").glyphicon.glyphicon-bullhorn &nbsp;
                        a(href = 'alumnicafe.html')
                            em  欢迎了解<strong>校友咖啡</strong>！<br>
                    hr
                    p
                        span(style="color:#2aabd2;").glyphicon.glyphicon-bullhorn &nbsp;
                        strong  上海交通大学智能物联网研究中心介绍视频.<br><br>
                        video(src="http://www.cs.sjtu.edu.cn/~wang-xb/video/publicity film.mp4"  height="300px" controls="controls")
                        <br><br><br>
                    hr
                    p
                        span(style="color:#2aabd2;").glyphicon.glyphicon-bullhorn &nbsp;
                        strong  MiraCode 大容量彩色二维码系统介绍视频 &nbsp;
                        a.img-rounded.btn-info.btn-xs(href="appendix_video0_ch.html") &nbsp;Here &raquo
                        <br><br>
                    hr
                    p
                        span(style="color:#2aabd2;").glyphicon.glyphicon-bullhorn &nbsp;
                        strong  ARTCode 图形二维码系统介绍视频 &nbsp;
                        a.img-rounded.btn-info.btn-xs(href="appendix_video1_ch.html") &nbsp;Here &raquo
                        <br><br>
                    hr
                    p
                        span(style="color:#2aabd2;").glyphicon.glyphicon-bullhorn &nbsp;
                        strong  多维多跳自组网视频传输系统 介绍视频 <br><br>
                        video(src="http://www.cs.sjtu.edu.cn/~wang-xb/video/video1.mov"  height="300px" controls="controls")
                    hr
                    b
                        a.img-rounded.btn-info.btn-default(href="http://v.youku.com/v_show/id_XMTM1Nzc4OTY0MA==.html") &nbsp;在优酷观看 &raquo&nbsp;<br><br>
                //.......................................................................
                div.col-md-4.col-md-push-1
                    div
                        h2.page-header
                            strong 指导教授
                        ul(style="list-style-type :none;").container-fluid
                            li.row
                                div.col-md-5
                                    img.img-circle(src="images/prof_xinbing_wang.jpg" width="110" height="130"  align="left" alt="" )
                                div.col-md-7
                                    p
                                        strong 王新兵 教授
                                    p(style="font-size: 11px") 特聘教授，博士生导师，上海交通大学电子信息与电气工程学院院长助理
                                    a.img-rounded.btn-info.btn-xs(href="http://iwct.sjtu.edu.cn/Personal/xwang8/index.html") 更多 &raquo;
                            hr
                            li.row
                                div.col-md-5
                                    img.img-circle(src="images/prof_hui_yu.jpg" width="110" height="130"  align="left" alt="" )
                                div.col-md-7
                                    p
                                        strong 俞晖 高级工程师
                                    p(style="font-size: 11px") 上海交通大学高级工程师,<br/> 硕士生导师
                                    a.img-rounded.btn-info.btn-xs(href="http://iwct.sjtu.edu.cn/Show.aspx?info_id=907&info_lb=311&flag=98") 更多 &raquo;
                            hr
                            li.row
                                div.col-md-5
                                    img.img-circle(src="images/prof_xiaohua_tian.jpg" width="110" height="130"  align="left" alt="" )
                                div.col-md-7
                                    p
                                        strong 田晓华 副教授
                                    p(style="font-size: 11px")  上海交通大学副教授,<br/> 硕士生导师
                                    a.img-rounded.btn-info.btn-xs(href="http://iwct.sjtu.edu.cn/Personal/xtian/") 更多 &raquo;

                            hr
                            li.row
                                div.col-md-5
                                    img.img-circle(src="images/prof_xiaoying_gan.jpg" width="110" height="130"  align="left" alt="" )
                                div.col-md-7
                                    p
                                        strong 甘小莺 副教授
                                    p(style="font-size: 11px") 上海交通大学副教授,<br/> 硕士生导师
                                    a.img-rounded.btn-info.btn-xs(href="http://iwct.sjtu.edu.cn/Personal/xygan/") 更多 &raquo;
                            hr


                        h2 相关链接
                        ul.container-fluid
                            p(style="text-align: left")
                                a(href="http://spark.sjtu.edu.cn/")
                                    img(src="images/spark.png" width="250" height="68"  alt="")
                            p(style="text-align: left")
                                a(href="http://www.sjtu.edu.cn/")
                                    img(src="images/sjtu.png" width="250" height="68"  alt="")

                br.clear