extends _base

block vars
    -var title = "Homepage"
    -var link = "index.html"
    -var link_ch = "index_ch.html"
    -var language = "English"

block content

    include _header
    div.container-fluid(style="background-image: url('images/pagebg.png');background-size:cover;clear:both;")
        div.container-fluid
            div.img-rounded(data-ride="carousel",style="padding:10px;background-image:url('images/slidebg.svg');background-size:cover;clear:both;")#projects-slide.carousel.slide.container-fluid
                //Indicators
                ol.carousel-indicators
                    li.active(data-target="#projects-slide",data-slide-to="0")
                    li(data-target="#projects-slide",data-slide-to="1")
                    li(data-target="#projects-slide",data-slide-to="2")

                //Wrapper for slides
                div.row
                    div(role="listbox",style="margin:10px 50px;").carousel-inner.text-center
                        div.item.active.row.text-center
                            div.col-sm-3.col-md-offset-1.text-center
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/research-system/taxi.html")
                                    img.img-rounded(src="images/car.jpg",alt="1")
                            div.col-sm-3.text-center
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/research-system/citydrive.html")
                                    img.img-rounded(src="images/dirve.jpg",alt="1")
                            div.col-sm-3.text-center
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/research-system/HiQuadLoc.html")
                                    img.img-rounded(src="images/flying.jpg",alt="1")

                        div.item.row
                            div.col-sm-3.col-md-offset-1.text-center
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/research-system/indaps.html")
                                    img.img-rounded(src="images/phones.jpg",alt="1")
                            div.col-sm-3.text-center
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/research-system/localization.html")
                                    img.img-rounded(src="images/Localization.jpg",alt="1")
                            div.col-sm-3.text-center
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/research-system/SAPLOC.html")
                                    img.img-rounded(src="images/smartAP.jpg",alt="1")

                        div.item.row
                            div.col-sm-3.col-md-offset-1.text-center
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/research-system/Sinaweibo.html")
                                    img.img-rounded(src="images/weibo.jpg",alt="1")
                            div.col-sm-3.text-center
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/research-system/smartcar.html")
                                    img.img-rounded(src="images/02230170.jpg",alt="1")
                            div.col-sm-3.text-center
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/research-system/sip.html")
                                    img.img-rounded(src="images/image004.jpg",alt="1")


                    //Controls
                    a(href="#projects-slide" role="button" data-slide="prev").left.carousel-control
                        span(aria-hidden="false").glyphicon.glyphicon-chevron-left
                        span.sr-only Previous
                    a(href="#projects-slide" role="button" data-slide="next").right.carousel-control
                        span(aria-hidden="false").glyphicon.glyphicon-chevron-right
                        span.sr-only Next


        hr
        //...........................................................................................
        div.container-fluid
            div.row
                div.col-md-6.col-md-push-1
                    h2.page-header Latest News
                    h4
                        span(style="color:#2aabd2;").glyphicon.glyphicon-bullhorn &nbsp;
                        a(href = 'alumnicafe.html')
                            em  Welcome to our <strong>AlumniCafe</strong>!<br>
                    hr
                    p
                        span(style="color:#2aabd2;").glyphicon.glyphicon-bullhorn &nbsp;
                        strong  A publicity film of IIoT Research Center is available.<br><br>
                        video(src="http://www.cs.sjtu.edu.cn/~wang-xb/video/publicity film.mp4",height="300px",controls="controls")
                        <br><br><br>
                    hr
                    p
                        span(style="color:#2aabd2;").glyphicon.glyphicon-bullhorn &nbsp;
                        strong  An introduction video of our MiraCode system is available &nbsp;
                        a.img-rounded.btn-info.btn-xs(href="appendix_video0.html") &nbsp;Here &raquo
                        <br><br>
                    hr
                    p
                        span(style="color:#2aabd2;").glyphicon.glyphicon-bullhorn
                        strong  An introduction video of our ARTCode system is available &nbsp;
                        a.img-rounded.btn-info.btn-xs(href="appendix_video1.html") &nbsp;Here &raquo
                        <br><br>
                    hr
                    p
                        span(style="color:#2aabd2;").glyphicon.glyphicon-bullhorn &nbsp;
                        strong  An introduction video of our multi-hop network system is available <br><br>
                        video(src="http://www.cs.sjtu.edu.cn/~wang-xb/video/video1.mov",height="300px",controls="controls")

                    b
                        a.img-rounded.btn-info.btn-default(href="http://v.youku.com/v_show/id_XMTM1Nzc4OTY0MA==.html") &nbsp;Watch at Youku &raquo&nbsp;<br><br><br>
                //.......................................................................
                div.col-md-4.col-md-push-1
                    div
                        h2.page-header Advisors
                        ul(style="list-style-type :none;").container-fluid
                            li.row
                                div.col-md-5
                                    img.img-circle(src="images/prof_xinbing_wang.jpg",width="110",height="130",align="left" alt="" )
                                div.col-md-7
                                    p
                                        strong Prof. Xinbing Wang
                                    p(style="font-size: 11px") Distinguished Professor Assistant Dean Ph.D. Supervisor in both EE & CS Department School of Electronic, Information & Electrical Engineering Shanghai Jiao Tong University
                                    p.readmore
                                        a.img-rounded.btn-info.btn-xs(href="http://iwct.sjtu.edu.cn/Personal/xwang8/index.html") More &raquo;
                            hr
                            li.row
                                div.col-md-5
                                    img.img-circle(src="images/prof_hui_yu.jpg",width="110",height="130",align="left", alt="" )
                                div.col-md-7
                                    p
                                        strong Prof. Hui Yu
                                    p(style="font-size: 11px") Senior Engineer in School of Electronic, Information & Electrical Engineering Shanghai Jiao Tong University

                                    p.readmore
                                        a.img-rounded.btn-info.btn-xs(href="http://iwct.sjtu.edu.cn/Show.aspx?info_id=907&info_lb=311&flag=98") More &raquo;
                            hr
                            li.row
                                div.col-md-5
                                    img.img-circle(src="images/prof_xiaohua_tian.jpg",width="110", height="130" , align="left" ,alt="" )
                                div.col-md-7
                                    p
                                        strong Prof. Xiaohua Tian
                                    p(style="font-size: 11px") Associate Professor, Master’s Supervisor Department of Electronic Engineering,Shanghai Jiao Tong University

                                    p.readmore
                                        a.img-rounded.btn-info.btn-xs(href="http://iwct.sjtu.edu.cn/Personal/xtian/") More &raquo;

                            hr
                            li.row
                                div.col-md-5
                                    img.img-circle(src="images/prof_xiaoying_gan.jpg" ,width="110" ,height="130" , align="left", alt="" )
                                div.col-md-7
                                    p
                                        strong Prof. Xiaoying Gan
                                    p(style="font-size: 11px") Associate Professor, Department of Electronic Engineering, Shanghai Jiao Tong University

                                    p.readmore
                                        a.img-rounded.btn-info.btn-xs(href="http://iwct.sjtu.edu.cn/Personal/xygan/") More &raquo;
                            hr
                        h2 Useful links
                        ul.container-fluid
                            p(style="text-align: left")
                                a(href="http://spark.sjtu.edu.cn/")
                                    img(src="images/spark.png" width="250", height="68" , alt="")
                            p(style="text-align: left")
                                a(href="http://www.sjtu.edu.cn/")
                                    img(src="images/sjtu.png" width="250", height="68" , alt="")

                br.clear