extends _base

block vars
    -var title = "Members"
    -var link = "members.html"
    -var link_ch = "members_ch.html"
    -var language = "English"


block content
    include _header
    include _navbar

    p
        != '<script type="text/javascript"> $("#steering_member").ready(function(){$("#open_committee").click(function(){$("#steering_member").toggle(1000);});});</script>'

    div.wrapper.col5
        div.members_container
            div.members_kernel
                div.holder
                    h2 Steering Committee Members
                    img(id="open_committee" src="images/open.gif" height="20" width="20" alt="")
                    ul#steering_member
                        li
                            img(src="images/prof_yunhao_liu.jpg" width="110" height="130"  align="left" alt="")
                            p
                                strong Prof. Yunhao Liu
                            p Cheung Kong Professor and Dean of School of Software, Tsinghua University, China. Chair for ACM China Council.Transactions on Parallel and Distributed Systems
                            p.readmore
                                a(href="http://www.cse.ust.hk/~liu/") More &raquo;

                        li
                            img(src="images/prof_huadong_ma.jpg" width="110" height="130"  align="left" alt="")
                            p
                                strong Prof. Huadong Ma
                            p Cheung Kong Professor and Executive president of School of Computer Science, Beijing University of Posts and Telecommunications, China.
                            p.readmore
                                a(href="http://easyscholar.ruc.edu.cn/homepage/mahuadong/index.htm") More &raquo;

                        li
                            img(src="images/prof_xinping_guan.jpg" width="110" height="130"  align="left" alt="")
                            p
                                strong Prof. Xinping Guan
                            p(style="font-size: 12px") Cheung Kong Professor and Professor of Department of Automation,Shanghai Jiao Tong University. The National Science Fund for Distinguished Young Scholars
                            p.readmore
                                a(href="http://automation.sjtu.edu.cn/ShowPeople.aspx?info_lb=590&info_id=1487&flag=98") More &raquo;

                        li
                            img(src="images/prof_guihai_chen.jpg" width="110" height="130"  align="left" alt="")
                            p
                                strong Prof. Guihai Chen&nbsp(Director)
                            p Distinguished Professor in CS Department School of Electronic, Information Electrical Engineering Shanghai Jiao Tong University
                            p.readmore
                                a(href="http://www.cs.sjtu.edu.cn/PeopleDetail.aspx?id=111") More &raquo;

            br.clear
        div.members_container
            div.members_kernel
                div.holder
                    h2 Leading Members
                    ul#latestnews
                        li
                            img(src="images/prof_2.jpg" width="110" height="130"  align="left" alt="")
                            p
                                strong Prof. Quan Yu&nbsp(Director)
                                p.
                                    Academician of Chinese Academy of Engineering,<br/>
                                    Professor in Department of Electronic Engineering, Shanghai Jiao Tong University
                                p.readmore
                                    a(href="http://baike.baidu.com/link?url=AQcE46f_7qD88yk5bnfMEu4Yhzf7RWq7xDQtzirAAd3VjWPqmh1qCjLd83LjNBAqdIKXU75qajDE29VLV4zf-JjEuPSzLAMQmdLH-YTfQG3") More &raquo;

                        li
                            img(src="images/prof_xinbing_wang.jpg" width="110" height="130"  align="left" alt="")
                            p
                                strong Prof. Xinbing Wang&nbsp(Executive Director)
                                p.
                                    Distinguished Professor Assistant Dean Ph.D. Supervisor in both EE & CS Department School of Electronic, Information & Electrical Engineering Shanghai Jiao Tong University
                                p.readmore
                                    a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/index.html") More &raquo;

                        li
                            img(src="images/prof_youyun_xu.jpg" width="110" height="130"  align="left" alt="")
                            p
                                strong Prof. Youyun Xu
                                p.
                                    Professor in Department of Electronic Engineering, Shanghai Jiao Tong University<br><br/>
                                p.readmore
                                    a(href="http://iwct.sjtu.edu.cn/Show.aspx?info_id=897&info_lb=349&flag=98") More &raquo;

                        li
                            img(src="images/prof_hui_yu.jpg" width="110" height="130"  align="left" alt="")
                            p
                                strong Prof. Hui Yu&nbsp(Chief Engineer)
                                p.
                                    Senior Engineer in School of Electronic, Information & Electrical Engineering Shanghai Jiao Tong University<br><br/>
                                p.readmore
                                    a(href="http://iwct.sjtu.edu.cn/Show.aspx?info_id=907&info_lb=311&flag=98") More &raquo;

                        li
                            img(src="images/prof_xiaohua_tian.jpg" width="110" height="130"  align="left" alt="")
                            p
                                strong Prof. Xiaohua Tian&nbsp(Associate Director)
                                p.
                                    Associate Professor, Master’s Supervisor Department of Electronic Engineering,Shanghai Jiao Tong University<br/><br/>
                                p.readmore
                                    a(href="http://iwct.sjtu.edu.cn/Personal/xtian/") More &raquo;

                        li
                            img(src="images/prof_xiaoying_gan.jpg" width="110" height="130"  align="left" alt="")
                            p
                                strong Prof. Xiaoying Gan&nbsp(Secretary)
                                p.
                                    Associate Professor in School of Electronic, Information & Electrical Engineering Shanghai Jiao Tong University<br/><br/>
                                p.readmore
                                    a(href="http://iwct.sjtu.edu.cn/Personal/xygan/index.htm") More &raquo;

                        li
                            img(src="images/prof_wei_liu.jpg" width="110" height="130"  align="left" alt="")
                            p
                                strong Prof. Wei Liu
                                p.
                                    Senior Engineer in School of Electronic, Information & Electrical Engineering Shanghai Jiao Tong University<br/><br/>
                                p.readmore
                                    a(href="http://iwct.sjtu.edu.cn/Show.aspx?info_id=923&amp;info_lb=311&amp;flag=98") More &raquo;


                        li
                            img(src="images/image005.jpg" width="110" height="130"  align="left" alt="")
                            p
                                strong Dr. Luoyi Fu
                                p.
                                    Post-doctor, Research Associate in School of Electronic, Information & Electrical Engineering Shanghai Jiao Tong University<br/><br/>
                                p.readmore
                                    a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/research/FuLuoyi/") More &raquo;


                        li
                            img(src="images/image6.jpg" width="110" height="130"  align="left" alt="")
                            p
                                strong Dr. Jinbei Zhang
                                p.
                                    Post-doctor, Research Associate in School of Electronic, Information & Electrical Engineering Shanghai Jiao Tong University<br/>
                                p.readmore
                                    a(href="") More &raquo;
            br.clear

        div.members_container
            div.members_kernel
                div.holder
                    h2 Guest Professors
                    ul.member_img
                        li(style="height:140px;")
                            img(src="images/prof_nessshroff.jpg" width="110" height="130"  align="left" alt="")
                            p
                                strong Prof. Ness Shroff
                            p(style="font-size: 11px;text-align:left;") Ohio Eminent Scholar in Networking and Communications,Chaired Professor of ECE and CSE
                            p.readmore
                                a(href="http://newslab.ece.ohio-state.edu/home/") More &raquo;

                        li(style="height:140px;")
                            img(src="images/prof_stevenlow.jpg" width="110" height="130"  align="left" alt="")
                            p
                                strong Prof.  Steven H. Low
                            p(style="font-size: 11px;text-align:left;") Professor of Computer Science and Electrical Engineering,Caltech
                            p.readmore
                                a(href="http://ee2.caltech.edu/people/faculty/low-s.html") More &raquo;

                        li(style="height:140px;")
                            img(src="images/prof_nitinvaidya.jpg" width="110" height="130"  align="left" alt="")
                            p
                                strong Prof. Nitin Vaidya
                            p(style="font-size: 11px;text-align:left;") Professor of Electrical and Computer Engineering,University of Illinois at Urbana-Champaign
                            p.readmore
                                a(href="http://users.crhc.illinois.edu/nhv/") More &raquo;

                        li(style="height:140px;")
                            img(src="images/prof_zhaoqing.jpg" width="110" height="130"  align="left" alt="")
                            p
                                strong Prof. Qing Zhao
                            p(style="font-size: 11px;text-align:left;") Professor of Electrical and Computer Engineering, University of California Davis.
                            p.readmore
                                a(href="http://web.ece.ucdavis.edu/~qzhao/") More &raquo;

                        li(style="height:140px;")
                            img(src="images/prof_Hsiao-Hwa Chen.jpg" width="110" height="130"  align="left" alt="")
                            p
                                strong Prof. Hsiao-Hwa Chen
                            p(style="font-size: 11px;text-align:left;") Professor in Department of Engineering Science, National Cheng Kung University, Taiwan.<br>  Founding Director of the Institute of Communications Engineering of the National Sun Yat-Sen University, Taiwan.
                            p.readmore
                                a(href="https://www.linkedin.com/in/hshwchen") More &raquo;

                        li(style="height:140px;")
                            img(src="images/prof_001_caohong.jpg" width="110" height="130"  align="left" alt="")
                            p
                                strong Prof. Guohong Cao
                            p(style="font-size: 11px;text-align:left;") Professor in Department of Engineering Science, The Pennsylvania State University.<br>  Director of Mobile Computing and Networking (MCN) Lab.
                            p.readmore
                                a(href="http://www.cse.psu.edu/~gxc27/") More &raquo;

            br.clear
            br.clear

        div.members_container
            div.members_kernel
                div.members_holder
                    h2(style="text-align:left") Kernel Members
                    ul
                        li
                            img(src="images/prof_cailian_chen.jpg" width="110" height="130"  alt="")
                            p
                                strong &nbsp Prof.
                                    a(href="http://iwin.sjtu.edu.cn/chencailian.html") Cailian Chen

                        li
                            img(src="images/prof_bo_yang.jpg" width="110" height="130"  alt="")
                            p
                                strong &nbsp Prof.
                                    a(href="http://automation.sjtu.edu.cn/en/ShowPeople.aspx?info_id=402&amp;info_lb=326&amp;flag=224") Bo Yang

                        li
                            img(src="images/prof_yanmin_zhu.jpg" width="110" height="130"  alt="")
                            p
                                strong &nbsp Prof.
                                    a(href="http://www.cs.sjtu.edu.cn//~yzhu/") Yanmin Zhu

                        li
                            img(src="images/prof_xiaofeng_gao.jpg" width="110" height="130"  alt="")
                            p
                                strong &nbsp Prof.
                                    a(href="http://www.cs.sjtu.edu.cn/~gao-xf/") Xiaofeng Gao

                        li
                            img(src="images/prof_hongzi_zhu.jpg" width="110" height="130"  alt="")
                            p
                                strong &nbsp Prof.
                                    a(href="http://www.cs.sjtu.edu.cn/PeopleDetail.aspx?id=64") Hongzi Zhu


                div.members_holder
                    h2 &nbsp&nbsp&nbsp&nbsp
                    ul.members_kernel
                        li
                            img(src="images/prof_weijie_wu.jpg" width="110" height="130"  alt="")
                            p
                                strong &nbsp Prof.
                                    a(href="") Weijie Wu

                        li
                            img(src="images/prof_hanwen_luo.jpg" width="110" height="130"  alt="")
                            p
                                strong &nbsp Prof.
                                    a(href="") Hanwen Luo

                        li
                            img(src="images/prof_fan_wu.jpg" width="110" height="130"  alt="")
                            p
                                strong &nbsp Prof.
                                    a(href="http://www.cs.sjtu.edu.cn/~fwu/index.html") Fan Wu

                        li
                            img(src="images/prof_feng_yang.jpg" width="110" height="130"  alt="")
                            p
                                strong &nbsp Prof.
                                    a(href="http://iwct.sjtu.edu.cn/Show.aspx?info_id=960&amp;info_lb=311&amp;flag=98") Feng Yang

                        li
                            img(src="images/prof_li_song.jpg" width="110" height="130"  alt="")
                            p
                                strong &nbsp Prof.
                                    a(href="http://www.hello-lisong.com/") Li Song
            br.clear




























