extends _base

block vars
    -var title = "Publications"
    -var link = "publications.html"
    -var link_ch = "publications_ch.html"


block content

    include _header
    include _navbar

    div.wrapper.col5
        div.members_container

            div.members_steeringCommittee
                div.holder
                    h2 Journal
                    ol
                        li
                            p
                                strong [TON]
                                |Y. Qin, X. Tian, W. Wu, Xinbing Wang, "Mobility Weakens the Distinction between Multicast and Unicast," to appear in
                                strong IEEE/ACM Transactions on Networking
                                |, 2015. (Correspondence Author)
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2015_Mobility.pdf")  GET PDF  &raquo;

                        li
                            p
                                strong [TON]
                                |X. Cao, J. Zhang, L. Fu, W. Wu, Xinbing Wang, "Optimal Secrecy Capacity-Delay Tradeoff in Large-Scale Mobile Ad Hoc Networks," to appear in
                                strong IEEE/ACM Transactions on Networking
                                |, 2015. (Correspondence Author)
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2015.pdf")  GET PDF  &raquo;

                        li
                            p
                                strong [TON]
                                | Q. Liang, Xinbing Wang, X. Tian, F. Wu, Q. Zhang, "Two-Dimensional Route Switching in Cognitive Radio Networks: A Game-Theoretical Framework," to appear in
                                strong IEEE/ACM Transactions on Networking
                                |, 2015. (Correspondence Author)
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2014.pdf")  GET PDF  &raquo;

                        li
                            p
                                strong [TON]
                                | S. Zhao, Xinbing Wang, "Node Density and Delay in Large-Scale Wireless Networks with Unreliable Links," to appear in
                                strong IEEE/ACM Transactions on Networking
                                |, vol 22 no. 4, pp. 1150 - 1163, 2014. (Correspondence Author)
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2013_2.pdf")  GET PDF  &raquo;

                        li
                            p
                                strong [TON]
                                | Y. Li, Q. Peng, Xinbing Wang, "Multicast Capacity with Max-Min Fairness for Heterogeneous Networks," in
                                strong IEEE/ACM Transactions on Networking
                                |, vol 22, no 2, pp. 622-635, 2014. (Correspondence Author)
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2013_1.pdf")  GET PDF  &raquo;

                        li
                            p
                                strong [TON]
                                | J. Zhang, L. Fu, Xinbing Wang, "Asymptotic Analysis on Secrecy Capacity in Large-Scale Wireless Networks," in
                                strong IEEE/ACM Transactions on Networking
                                |, vol 22, no 1, pp. 66-79, 2014. (Correspondence Author)
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TON2013.pdf")  GET PDF  &raquo;

            br.clear

        div.members_container

            div.members_steeringCommittee
                div.holder
                    h2 Conferrence
                    ol
                        li
                            p
                                strong [MOBICOM]
                                | C. Li, C. Peng, S. Lu, Xinbing Wang, "EERA: Energy-Efficient Rate Adaptation for 802.11n Devices," in
                                strong Proc. of ACM Mobicom 2012
                                |, Istanbul, Turkey, Aug 2012.

                        li
                            p
                                strong [MOBICOM]
                                | S. Zhao, L. Fu, Xinbing Wang, Q. Zhang, "Fundamental Relationship between Node Density and Delay in Wireless Ad Hoc Networks with Unreliable Links," in
                                strong Proc. of ACM Mobicom 2011
                                |, Las Vegas, Sept 2011 (Correspondence Author).
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MOBICOM2011.pdf")  GET PDF  &raquo;

                        li
                            p
                                strong [MOBICOM]
                                |Q. Wang, Xinbing Wang, X. Lin, "Mobility Increases the Connectivity of K-hop Clustered Wireless Networks," in
                                strong Proc. of ACM Mobicom 2009
                                |, Beijing, September 2009. (Correspondence Author)
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiCom09.pdf")  GET PDF  &raquo;

                        li
                            p
                                strong [MOBICOM]
                                | L. Fu, Xinbing Wang, P. R. Kumar, "Optimal determination of source-destination connectivity in random graphs," in
                                strong Proc. of ACM MobiHoc 2014
                                |, Philadelphia, PA, USA, Aug, 2014.(Correspondence Author)
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc2014.pdf")  GET PDF  &raquo;

                        li
                            p
                                strong [MOBICOM]
                                |Y. Chen, J. Zhang, Xinbing Wang, X. Tian, W. Wu, F. Wu, C. W. Tan, "Secrecy Capacity Scaling of Large-Scale Cognitive Networks," in
                                strong Proc. of ACM MobiHoc 2014
                                |, Philadelphia, PA, USA, Aug, 2014.(Correspondence Author)
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc2014_1.pdf")  GET PDF  &raquo;

                        li
                            p
                                strong [MOBICOM]
                                | Y. Wu, Xinbing Wang, "Characteristic Function of Connectivity with Obstacles," to appear in
                                strong Proc. of ACM MobiHoc 2013
                                |, Bangalore, Indian, Aug, 2013. (4-page poster paper) (Correspondence Author)

                        li
                            p
                                strong [MOBICOM]
                                | Q. Liang, Xinbing Wang, X. Tian, Q. Zhang, "Route-Switching Games in Cognitive Radio Networks," in
                                strong Proc. of ACM MobiHoc 2013
                                |, Bangalore, Indian, Aug, 2013. (4-page poster paper) (Correspondence Author)

                        li
                            p
                                strong [MOBICOM]
                                | Z. Liu, Xinbing Wang, W. Luan, S. Lu, "Transmission Delay in Large Scale Ad Hoc Cognitive Radio Networks," in
                                strong Proc. of ACM MobiHoc 2012
                                | , SC, USA, June, 2012 (Correspondence Author)
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc2012.pdf")  GET PDF  &raquo;

                        li
                            p
                                strong [MOBICOM]
                                | C. Hu, Xinbing Wang, F. Wu, "MotionCast: On the Capacity and Delay Tradeoffs," in
                                strong Proc. of ACM MobiHoc 2009
                                |, New Orleans, May 2009. (Correspondence Author)
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc09.pdf")  GET PDF  &raquo;

                        li
                            p
                                strong [MOBICOM]
                                | L. Gao, and Xinbing Wang, "A Game Approach for Multi-Channel Allocation in Multi-Hop Wireless Networks," in
                                strong Proc. of ACM MobiHoc 2008
                                |, Hong Kong, May 2008. (Correspondence Author)
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc08.pdf")  GET PDF  &raquo;

                        li
                            p
                                strong [SIGMETRICS]
                                | Q. Wang, L. Liu, J. Zhang, X. Wang, Xinbing Wang, S. Lu, "Impact of Correlated Mobility and Cluster Scalability on Connectivity of Wireless Networks," in
                                strong Proc. of ACM Sigmetrics 2014
                                | (2 pages poster), Austin, Texas, US, June 2014. (Correspondence Author)
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/sigmetrics2014.pdf")  GET PDF  &raquo;

                        li
                            p
                                strong [INFOCOM]
                                | C. Ma, W. Wu, Y. Cui, Xinbing Wang, "On the Performance of Successive Interference Cancellation in D2D-enabled Cellular Networks," in
                                strong Proc. of IEEE INFOCOM
                                |, Hong Kong, China, Apr, 2015.
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/sigmetrics2014.pdf")  GET PDF  &raquo;

                        li
                            p
                                strong [INFOCOM]
                                | K. Sheng, Z. Gu, X. Mao, X. Tian, W. Wu, X. Gan, Xinbing Wang, "The Collocation of Measurement Points in Large Open Indoor Environment," in
                                strong Proc. of IEEE INFOCOM
                                |, Hong Kong, China, Apr, 2015.
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_collocation.pdf")  GET PDF  &raquo;

                        li
                            p
                                strong [INFOCOM]
                                | Q. Zhang, Y. Wen, X. Tian, X. Gan, Xinbing Wang, "Incentivize Crowd Labeling under Budget Constraint," in
                                strong Proc. of IEEE INFOCOM
                                |, Hong Kong, China, Apr, 2015.
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_crowd.pdf")  GET PDF  &raquo;

                        li
                            p
                                strong [INFOCOM]
                                |Y. Wen, X. Tian, Xinbing Wang, S. Lu, "Fundamental Limits of RSS Fingerprinting based Indoor Localization," in
                                strong Proc. of IEEE INFOCOM
                                |, Hong Kong, China, Apr, 2015.
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_indoorlocalization.pdf")  GET PDF  &raquo;

                        li
                            p
                                strong [INFOCOM]
                                | C. Kong, Z. Yuan, X. Han, F. Yang, Xinbing Wang, T. Wang, S. Lu, "VSMC MIMO: A Spectral Efficient Scheme for Cooperative Relay in Cognitive Radio Networks," in
                                strong Proc. of IEEE INFOCOM
                                |, Hong Kong, China, Apr, 2015.
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_VSMC_MIMO.pdf")  GET PDF  &raquo;

                        li
                            p
                                strong [INFOCOM]
                                | Y. Hu, Xinbing Wang, X. Gan, "Critical Sensing Range for Mobile Heterogeneous Camera Sensor Networks," to appear in
                                strong Proc. of IEEE INFOCOM 2014
                                |, April, Toronto, 2014. (Correspondence Author)
                                a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2014_coverage.pdf")  GET PDF  &raquo;

            br.clear


        div.members_container
            div.members_steeringCommittee
                div.holder
                    h2
                        a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/publication.html") CLICK HERE TO FIND MORE

            br.clear