extends _base

block vars
    -var title = "Recruitment"
    -var link = "recruitment.html"
    -var link_ch = "recruitment_ch.html"
    -var language = "English"


block content
    include _header

    div.container-fluid
        div.col-md-8.col-md-push-2
            div
                h3.page-header(align="center")
                    strong IIoT Research Center 2016 graduate student enrollment notice
                p
                    |IIoT Research Center of the Department of Electronics recruit academic / professional graduate.<br>
                    |Admissions Tutor: Xinbing Wang, Hui Yu, Xiaohua Tian, Xiaoying Gan.
                p
                    |Interested persons please send your resume to the following email address by March 15, 2016.
                    a(href="mailto:qingniaoawang@163.com") （qingniaoawang@163.com)<br>
                    |Resume contains the postgraduate entrance examination results, undergraduate transcripts, as well as the type of Academic / Professional Degree Master's application type.
        br.clear