extends _base

block vars
    -var title = "Recruitment"
    -var link = "recruitment.html"
    -var link_ch = "recruitment_ch.html"
    -var language = "Chinese"


block content
    include _header
    div.container-fluid
        div.col-md-8.col-md-push-2
            h2.page-header(align="center")
                strong 智能物联网研究中心2016级硕士研究生招生通知
            p
                | 电子系智能物联网研究中心招收学术型/专业型硕士研究生。<br>
                | 招生导师：王新兵，俞晖，田晓华，甘小莺。
            p
                | 请有意攻读智能物联网研究中心2016级硕士研究生的学生于2016年3月15日之前将个人简历发到以下邮箱
                a(href="mailto:qingniaoawang@163.com") （qingniaoawang@163.com)<br>
                | 简历包含考研成绩，本科成绩单以及型学术/专业学位硕士申请类型。
        br.clear